<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.andrew.smartielts.speaking.mapper.SpeakingRecordMapper">

    <resultMap id="speakingRecordResultMap" type="com.andrew.smartielts.speaking.domain.pojo.SpeakingRecord">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="sessionId" column="session_id"/>
        <result property="questionId" column="question_id"/>
        <result property="audioUrl" column="audio_url"/>
        <result property="transcript" column="transcript"/>
        <result property="fluencyAndCoherence" column="fluency_and_coherence"/>
        <result property="lexicalResource" column="lexical_resource"/>
        <result property="grammaticalRangeAndAccuracy" column="grammatical_range_and_accuracy"/>
        <result property="pronunciation" column="pronunciation"/>
        <result property="overallScore" column="overall_score"/>
        <result property="feedback" column="feedback"/>
        <result property="answerStatus" column="answer_status"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="deletedTime" column="deleted_time"/>
        <result property="aiStatus" column="ai_status"/>
        <result property="aiProvider" column="ai_provider"/>
        <result property="aiModel" column="ai_model"/>
        <result property="aiErrorMessage" column="ai_error_message"/>
        <result property="relevanceComment" column="relevance_comment"/>
        <result property="qualityComment" column="quality_comment"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="baseColumns">
        sr.id,
        sr.user_id,
        sr.session_id,
        sr.question_id,
        sr.audio_url,
        sr.transcript,
        sr.fluency_and_coherence,
        sr.lexical_resource,
        sr.grammatical_range_and_accuracy,
        sr.pronunciation,
        sr.overall_score,
        sr.feedback,
        sr.answer_status,
        sr.is_deleted,
        sr.deleted_time,
        sr.ai_status,
        sr.ai_provider,
        sr.ai_model,
        sr.ai_error_message,
        sr.relevance_comment,
        sr.quality_comment,
        sr.created_time,
        sr.updated_time
    </sql>

    <insert id="insertSpeakingRecord" parameterType="com.andrew.smartielts.speaking.domain.pojo.SpeakingRecord"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO speaking_record (
            user_id, session_id, question_id, audio_url, transcript,
            fluency_and_coherence, lexical_resource, grammatical_range_and_accuracy,
            pronunciation, overall_score, feedback, answer_status,
            is_deleted, deleted_time,
            ai_status, ai_provider, ai_model, ai_error_message,
            relevance_comment, quality_comment,
            created_time, updated_time
        ) VALUES (
                     #{userId}, #{sessionId}, #{questionId}, #{audioUrl}, #{transcript},
                     #{fluencyAndCoherence}, #{lexicalResource}, #{grammaticalRangeAndAccuracy},
                     #{pronunciation}, #{overallScore}, #{feedback}, #{answerStatus},
                     #{isDeleted}, #{deletedTime},
                     #{aiStatus}, #{aiProvider}, #{aiModel}, #{aiErrorMessage},
                     #{relevanceComment}, #{qualityComment},
                     #{createdTime}, #{updatedTime}
                 )
    </insert>

    <select id="findById" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.id = #{id}
        LIMIT 1
    </select>

    <select id="findAnyById" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.id = #{id}
        LIMIT 1
    </select>

    <select id="findActiveById" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.id = #{id}
        AND sr.is_deleted = 0
        LIMIT 1
    </select>

    <select id="findByIdForUser" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.id = #{id}
        AND sr.user_id = #{userId}
        LIMIT 1
    </select>

    <select id="findAnyByIdForUser" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.id = #{id}
        AND sr.user_id = #{userId}
        LIMIT 1
    </select>

    <select id="findActiveByIdForUser" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.id = #{id}
        AND sr.user_id = #{userId}
        AND sr.is_deleted = 0
        LIMIT 1
    </select>

    <select id="findByUserId" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.user_id = #{userId}
        ORDER BY sr.created_time DESC
    </select>

    <select id="findActiveByUserId" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.user_id = #{userId}
        AND sr.is_deleted = 0
        ORDER BY sr.created_time DESC
    </select>

    <select id="findDeletedByUserId" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.user_id = #{userId}
        AND sr.is_deleted = 1
        ORDER BY sr.deleted_time DESC, sr.created_time DESC
    </select>

    <select id="findBySessionId" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.session_id = #{sessionId}
        AND sr.is_deleted = 0
        ORDER BY sr.created_time ASC
    </select>

    <select id="findBySessionIdAndQuestionId" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.session_id = #{sessionId}
        AND sr.question_id = #{questionId}
        LIMIT 1
    </select>

    <sql id="UserActiveWhere">
        <where>
            sr.user_id = #{userId}
            AND sr.is_deleted = 0

            <if test="query != null and query.sessionId != null and query.sessionId != ''">
                AND sr.session_id = #{query.sessionId}
            </if>
            <if test="query != null and query.part != null and query.part != ''">
                AND sq.part = #{query.part}
            </if>
            <if test="query != null and query.answerStatus != null and query.answerStatus != ''">
                AND sr.answer_status = #{query.answerStatus}
            </if>
            <if test="query != null and query.startTime != null">
                AND sr.created_time <![CDATA[ >= ]]> #{query.startTime}
            </if>
            <if test="query != null and query.endTime != null">
                AND sr.created_time <![CDATA[ <= ]]> #{query.endTime}
            </if>
            <if test="query != null and query.minOverallScore != null">
                AND sr.overall_score <![CDATA[ >= ]]> #{query.minOverallScore}
            </if>
            <if test="query != null and query.maxOverallScore != null">
                AND sr.overall_score <![CDATA[ <= ]]> #{query.maxOverallScore}
            </if>
        </where>
    </sql>

    <sql id="AdminActiveWhere">
        <where>
            sr.is_deleted = 0

            <if test="query != null and query.userId != null">
                AND sr.user_id = #{query.userId}
            </if>
            <if test="query != null and query.sessionId != null and query.sessionId != ''">
                AND sr.session_id = #{query.sessionId}
            </if>
            <if test="query != null and query.part != null and query.part != ''">
                AND sq.part = #{query.part}
            </if>
            <if test="query != null and query.answerStatus != null and query.answerStatus != ''">
                AND sr.answer_status = #{query.answerStatus}
            </if>
            <if test="query != null and query.aiStatus != null and query.aiStatus != ''">
                AND sr.ai_status = #{query.aiStatus}
            </if>
            <if test="query != null and query.startTime != null">
                AND sr.created_time <![CDATA[ >= ]]> #{query.startTime}
            </if>
            <if test="query != null and query.endTime != null">
                AND sr.created_time <![CDATA[ <= ]]> #{query.endTime}
            </if>
            <if test="query != null and query.minOverallScore != null">
                AND sr.overall_score <![CDATA[ >= ]]> #{query.minOverallScore}
            </if>
            <if test="query != null and query.maxOverallScore != null">
                AND sr.overall_score <![CDATA[ <= ]]> #{query.maxOverallScore}
            </if>
        </where>
    </sql>

    <sql id="UserDeletedWhere">
        <where>
            sr.user_id = #{userId}
            AND sr.is_deleted = 1
        </where>
    </sql>

    <sql id="AdminDeletedWhere">
        <where>
            sr.is_deleted = 1
        </where>
    </sql>

    <select id="countUserActive" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM speaking_record sr
        LEFT JOIN speaking_question sq ON sr.question_id = sq.id
        <include refid="UserActiveWhere"/>
    </select>

    <select id="pageUserActive" resultType="com.andrew.smartielts.speaking.domain.vo.SpeakingRecordVO">
        SELECT
        sr.id,
        sr.user_id,
        sr.session_id,
        sr.question_id,
        sr.audio_url,
        sr.transcript,
        sr.fluency_and_coherence,
        sr.lexical_resource,
        sr.grammatical_range_and_accuracy,
        sr.pronunciation,
        sr.overall_score,
        sr.feedback,
        sr.answer_status,
        sr.is_deleted,
        sr.deleted_time,
        sr.ai_status,
        sr.ai_provider,
        sr.ai_model,
        sr.ai_error_message,
        sr.relevance_comment,
        sr.quality_comment,
        sr.created_time,
        sr.updated_time,
        sq.part
        FROM speaking_record sr
        LEFT JOIN speaking_question sq ON sr.question_id = sq.id
        <include refid="UserActiveWhere"/>
        ORDER BY sr.created_time
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countUserDeleted" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM speaking_record sr
        <include refid="UserDeletedWhere"/>
    </select>

    <select id="pageUserDeleted" resultType="com.andrew.smartielts.speaking.domain.vo.SpeakingRecordVO">
        SELECT
        sr.id,
        sr.user_id,
        sr.session_id,
        sr.question_id,
        sr.audio_url,
        sr.transcript,
        sr.fluency_and_coherence,
        sr.lexical_resource,
        sr.grammatical_range_and_accuracy,
        sr.pronunciation,
        sr.overall_score,
        sr.feedback,
        sr.answer_status,
        sr.is_deleted,
        sr.deleted_time,
        sr.ai_status,
        sr.ai_provider,
        sr.ai_model,
        sr.ai_error_message,
        sr.relevance_comment,
        sr.quality_comment,
        sr.created_time,
        sr.updated_time
        FROM speaking_record sr
        <include refid="UserDeletedWhere"/>
        ORDER BY sr.deleted_time
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        , sr.created_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countAdminActive" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM speaking_record sr
        LEFT JOIN speaking_question sq ON sr.question_id = sq.id
        <include refid="AdminActiveWhere"/>
    </select>

    <select id="pageAdminActive" resultType="com.andrew.smartielts.speaking.domain.vo.SpeakingRecordVO">
        SELECT
        sr.id,
        sr.user_id,
        sr.session_id,
        sr.question_id,
        sr.audio_url,
        sr.transcript,
        sr.fluency_and_coherence,
        sr.lexical_resource,
        sr.grammatical_range_and_accuracy,
        sr.pronunciation,
        sr.overall_score,
        sr.feedback,
        sr.answer_status,
        sr.is_deleted,
        sr.deleted_time,
        sr.ai_status,
        sr.ai_provider,
        sr.ai_model,
        sr.ai_error_message,
        sr.relevance_comment,
        sr.quality_comment,
        sr.created_time,
        sr.updated_time,
        sq.part
        FROM speaking_record sr
        LEFT JOIN speaking_question sq ON sr.question_id = sq.id
        <include refid="AdminActiveWhere"/>
        ORDER BY sr.created_time
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countAdminDeleted" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM speaking_record sr
        <include refid="AdminDeletedWhere"/>
    </select>

    <select id="pageAdminDeleted" resultType="com.andrew.smartielts.speaking.domain.vo.SpeakingRecordVO">
        SELECT
        sr.id,
        sr.user_id,
        sr.session_id,
        sr.question_id,
        sr.audio_url,
        sr.transcript,
        sr.fluency_and_coherence,
        sr.lexical_resource,
        sr.grammatical_range_and_accuracy,
        sr.pronunciation,
        sr.overall_score,
        sr.feedback,
        sr.answer_status,
        sr.is_deleted,
        sr.deleted_time,
        sr.ai_status,
        sr.ai_provider,
        sr.ai_model,
        sr.ai_error_message,
        sr.relevance_comment,
        sr.quality_comment,
        sr.created_time,
        sr.updated_time
        FROM speaking_record sr
        <include refid="AdminDeletedWhere"/>
        ORDER BY sr.deleted_time
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">ASC</when>
            <otherwise>DESC</otherwise>
        </choose>
        , sr.created_time DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="findRecentAiFailures" resultMap="speakingRecordResultMap">
        SELECT <include refid="baseColumns"/>
        FROM speaking_record sr
        WHERE sr.ai_status = 'FAILED'
        ORDER BY sr.created_time DESC
        LIMIT #{limit}
    </select>

    <update id="updateSpeakingRecord" parameterType="com.andrew.smartielts.speaking.domain.pojo.SpeakingRecord">
        UPDATE speaking_record
        SET
            audio_url = #{audioUrl},
            transcript = #{transcript},
            fluency_and_coherence = #{fluencyAndCoherence},
            lexical_resource = #{lexicalResource},
            grammatical_range_and_accuracy = #{grammaticalRangeAndAccuracy},
            pronunciation = #{pronunciation},
            overall_score = #{overallScore},
            feedback = #{feedback},
            answer_status = #{answerStatus},
            is_deleted = #{isDeleted},
            deleted_time = #{deletedTime},
            ai_status = #{aiStatus},
            ai_provider = #{aiProvider},
            ai_model = #{aiModel},
            ai_error_message = #{aiErrorMessage},
            relevance_comment = #{relevanceComment},
            quality_comment = #{qualityComment},
            updated_time = #{updatedTime}
        WHERE id = #{id}
    </update>

    <update id="softDeleteById">
        UPDATE speaking_record
        SET is_deleted = 1,
            deleted_time = NOW(),
            updated_time = NOW()
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

    <update id="restoreById">
        UPDATE speaking_record
        SET is_deleted = 0,
            deleted_time = NULL,
            updated_time = NOW()
        WHERE id = #{id}
          AND is_deleted = 1
    </update>

    <update id="softDeleteByIdForUser">
        UPDATE speaking_record
        SET is_deleted = 1,
            deleted_time = NOW(),
            updated_time = NOW()
        WHERE id = #{id}
          AND user_id = #{userId}
          AND is_deleted = 0
    </update>

    <update id="restoreByIdForUser">
        UPDATE speaking_record
        SET is_deleted = 0,
            deleted_time = NULL,
            updated_time = NOW()
        WHERE id = #{id}
          AND user_id = #{userId}
          AND is_deleted = 1
    </update>

    <select id="findRecentActiveByUserId"
            resultType="com.andrew.smartielts.speaking.domain.pojo.SpeakingRecord">
        SELECT
            sr.id,
            sr.user_id,
            sr.session_id,
            sr.question_id,
            sr.audio_url,
            sr.transcript,
            sr.fluency_and_coherence,
            sr.lexical_resource,
            sr.grammatical_range_and_accuracy,
            sr.pronunciation,
            sr.overall_score,
            sr.feedback,
            sr.answer_status,
            sr.is_deleted,
            sr.deleted_time,
            sr.ai_status,
            sr.ai_provider,
            sr.ai_model,
            sr.ai_error_message,
            sr.relevance_comment,
            sr.quality_comment,
            sr.created_time,
            sr.updated_time
        FROM speaking_record sr
        WHERE sr.user_id = #{userId}
          AND sr.is_deleted = 0
        ORDER BY sr.created_time DESC, sr.id DESC
        LIMIT #{limit}
    </select>

    <select id="selectUserAverageScore" resultType="java.math.BigDecimal">
        SELECT AVG(overall_score)
        FROM speaking_record
        WHERE user_id = #{userId}
          AND is_deleted = 0
          AND overall_score IS NOT NULL
    </select>

    <select id="countAdminAiFailed" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM speaking_record
        WHERE is_deleted = 0
          AND ai_status = 'FAILED'
    </select>

</mapper>