<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.smartielts.writing.mapper.WritingQuestionMapper">

    <resultMap id="WritingQuestionMap" type="com.andrew.smartielts.writing.domain.pojo.WritingQuestion">
        <id property="id" column="id"/>
        <result property="taskType" column="task_type"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imageObjectKey" column="image_object_key"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="deletedTime" column="deleted_time"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <insert id="insert" parameterType="com.andrew.smartielts.writing.domain.pojo.WritingQuestion"
            useGeneratedKeys="true" keyProperty="id">
        insert into writing_question (
            task_type, title, description, image_url, image_object_key, is_deleted, deleted_time, created_time
        ) values (
                     #{taskType}, #{title}, #{description}, #{imageUrl}, #{imageObjectKey}, #{isDeleted}, #{deletedTime}, #{createdTime}
                 )
    </insert>

    <update id="update" parameterType="com.andrew.smartielts.writing.domain.pojo.WritingQuestion">
        update writing_question
        set task_type = #{taskType},
            title = #{title},
            description = #{description},
            image_url = #{imageUrl},
            image_object_key = #{imageObjectKey}
        where id = #{id}
    </update>

    <select id="findAll" resultMap="WritingQuestionMap">
        select id, task_type, title, description, image_url, image_object_key, is_deleted, deleted_time, created_time
        from writing_question
        where is_deleted = 0
        order by id desc
    </select>

    <select id="findById" resultMap="WritingQuestionMap">
        select id, task_type, title, description, image_url, image_object_key, is_deleted, deleted_time, created_time
        from writing_question
        where id = #{id} and is_deleted = 0
    </select>

    <select id="findByIdForAdmin" resultMap="WritingQuestionMap">
        select id, task_type, title, description, image_url, image_object_key, is_deleted, deleted_time, created_time
        from writing_question
        where id = #{id}
    </select>

    <update id="logicalDeleteById">
        update writing_question
        set is_deleted = 1,
            deleted_time = #{deletedTime}
        where id = #{id} and is_deleted = 0
    </update>

    <update id="restoreById">
        update writing_question
        set is_deleted = 0,
            deleted_time = null
        where id = #{id} and is_deleted = 1
    </update>

</mapper>