<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.smartielts.listening.mapper.ListeningTestTimerMapper">

    <resultMap id="ListeningTestTimerResultMap" type="com.andrew.smartielts.common.domain.pojo.TestTimerConfig">
        <id property="id" column="id"/>
        <result property="testId" column="test_id"/>
        <result property="timerMode" column="timer_mode"/>
        <result property="totalSeconds" column="total_seconds"/>
        <result property="autoSubmit" column="auto_submit"/>
        <result property="allowPause" column="allow_pause"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, test_id, timer_mode, total_seconds, auto_submit, allow_pause, created_time, updated_time
    </sql>

    <insert id="insertListeningTestTimer"
            parameterType="com.andrew.smartielts.common.domain.pojo.TestTimerConfig"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into listening_test_timer (
            test_id,
            timer_mode,
            total_seconds,
            auto_submit,
            allow_pause,
            created_time,
            updated_time
        ) values (
                     #{testId},
                     #{timerMode},
                     #{totalSeconds},
                     #{autoSubmit},
                     #{allowPause},
                     #{createdTime},
                     #{updatedTime}
                 )
    </insert>

    <select id="findByTestId" resultMap="ListeningTestTimerResultMap">
        select <include refid="Base_Column_List"/>
        from listening_test_timer
        where test_id = #{testId}
        limit 1
    </select>

    <update id="updateListeningTestTimer"
            parameterType="com.andrew.smartielts.common.domain.pojo.TestTimerConfig">
        update listening_test_timer
        set timer_mode = #{timerMode},
            total_seconds = #{totalSeconds},
            auto_submit = #{autoSubmit},
            allow_pause = #{allowPause},
            updated_time = #{updatedTime}
        where test_id = #{testId}
    </update>

    <delete id="deleteByTestId">
        delete from listening_test_timer
        where test_id = #{testId}
    </delete>
</mapper>