<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.smartielts.listening.mapper.ListeningQuestionAnswerRuleMapper">

    <resultMap id="ListeningQuestionAnswerRuleResultMap" type="com.andrew.smartielts.common.domain.pojo.QuestionAnswerRule">
        <id property="id" column="id"/>
        <result property="questionId" column="question_id"/>
        <result property="blankNo" column="blank_no"/>
        <result property="answerGroupNo" column="answer_group_no"/>
        <result property="answerText" column="answer_text"/>
        <result property="normalizedAnswer" column="normalized_answer"/>
        <result property="isPrimary" column="is_primary"/>
        <result property="displayOrder" column="display_order"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, question_id, blank_no, answer_group_no, answer_text,
        normalized_answer, is_primary, display_order
    </sql>

    <insert id="insertListeningQuestionAnswerRule"
            parameterType="com.andrew.smartielts.common.domain.pojo.QuestionAnswerRule"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into listening_question_answer_rule (
            question_id,
            blank_no,
            answer_group_no,
            answer_text,
            normalized_answer,
            is_primary,
            display_order
        ) values (
                     #{questionId},
                     #{blankNo},
                     #{answerGroupNo},
                     #{answerText},
                     #{normalizedAnswer},
                     #{isPrimary},
                     #{displayOrder}
                 )
    </insert>

    <select id="findById" resultMap="ListeningQuestionAnswerRuleResultMap">
        select <include refid="Base_Column_List"/>
        from listening_question_answer_rule
        where id = #{id}
        limit 1
    </select>

    <select id="findByQuestionId" resultMap="ListeningQuestionAnswerRuleResultMap">
        select <include refid="Base_Column_List"/>
        from listening_question_answer_rule
        where question_id = #{questionId}
        order by blank_no asc, answer_group_no asc, display_order asc, id asc
    </select>

    <delete id="deleteById">
        delete from listening_question_answer_rule
        where id = #{id}
    </delete>

    <delete id="deleteByQuestionId">
        delete from listening_question_answer_rule
        where question_id = #{questionId}
    </delete>
</mapper>