<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.smartielts.reading.mapper.ReadingTestTimerMapper">

    <resultMap id="BaseMap" type="com.andrew.smartielts.common.domain.pojo.TestTimerConfig">
        <id column="id" property="id"/>
        <result column="test_id" property="testId"/>
        <result column="timer_mode" property="timerMode"/>
        <result column="total_seconds" property="totalSeconds"/>
        <result column="auto_submit" property="autoSubmit"/>
        <result column="allow_pause" property="allowPause"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <insert id="insertReadingTestTimer"
            parameterType="com.andrew.smartielts.common.domain.pojo.TestTimerConfig"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into reading_test_timer (
            test_id, timer_mode, total_seconds, auto_submit, allow_pause, created_time, updated_time
        ) values (
                     #{testId}, #{timerMode}, #{totalSeconds}, #{autoSubmit}, #{allowPause}, #{createdTime}, #{updatedTime}
                 )
    </insert>

    <select id="findByTestId" resultMap="BaseMap">
        select *
        from reading_test_timer
        where test_id = #{testId}
        limit 1
    </select>

    <update id="updateReadingTestTimer"
            parameterType="com.andrew.smartielts.common.domain.pojo.TestTimerConfig">
        update reading_test_timer
        set timer_mode = #{timerMode},
            total_seconds = #{totalSeconds},
            auto_submit = #{autoSubmit},
            allow_pause = #{allowPause},
            updated_time = #{updatedTime}
        where test_id = #{testId}
    </update>

    <delete id="deleteByTestId">
        delete from reading_test_timer
        where test_id = #{testId}
    </delete>
</mapper>